<div class="bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
  <div class="layout-container flex h-full grow flex-col">
    
    <footer class="flex justify-center">
      <div class="flex max-w-[960px] flex-1 flex-col">
        <footer class="flex flex-col gap-6 px-10 py-3 text-center @container">
          <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
            <a class="text-[#49739c] text-base font-normal leading-normal min-w-40" href="#">Home</a>
            <a class="text-[#49739c] text-base font-normal leading-normal min-w-40" href="#">Mentors</a>
            <a class="text-[#49739c] text-base font-normal leading-normal min-w-40" href="#">Pricing</a>
            <a class="text-[#49739c] text-base font-normal leading-normal min-w-40" href="#">Resources</a>
            <a class="text-[#49739c] text-base font-normal leading-normal min-w-40" href="#">Contact Us</a>
          </div>
          <p class="text-[#49739c] text-base font-normal leading-normal">
            © 2025 MentorMatch. All rights reserved.
          </p>
        </footer>
      </div>
    </footer>
  </div>
</div>
