<header class="sticky top-0 z-40 flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f1f2f4] bg-white px-10 py-3">
  <div class="flex items-center gap-4 text-[#121517]">
    <div class="size-4">
      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z" fill="currentColor"></path>
      </svg>
    </div>
    <h2 class="text-[#121517] text-lg font-bold leading-tight tracking-[-0.015em]">MentorMatch</h2>
  </div>
  <div class="hidden md:flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <a class="text-[#121517] text-sm font-medium leading-normal" href="#">Home</a>
      <a class="text-[#121517] text-sm font-medium leading-normal" href="#our-mentors">Mentors</a>
      <a class="text-[#121517] text-sm font-medium leading-normal" href="#how-it-works">How it works</a>
      <a class="text-[#121517] text-sm font-medium leading-normal" href="#pricing">Pricing</a>
      <a class="text-[#121517] text-sm font-medium leading-normal" href="#resources">Resources</a>
      <a routerLink="/apprentices" class="text-[#121517] text-sm font-medium leading-normal">Apprentices</a>
    </div>
    <div class="flex gap-2">
      <a routerLink="/sign-up" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#d7e6f3] text-[#121517] text-sm font-bold leading-normal tracking-[0.015em]">
        <span class="truncate">Get Started</span>
      </a>
      <a routerLink="/sign-in" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#f1f2f4] text-[#121517] text-sm font-bold leading-normal tracking-[0.015em]">
        <span class="truncate">Log in</span>
      </a>
    </div>
  </div>
  <!-- Mobile menu button -->
  <div class="md:hidden flex items-center">
    <button class="outline-none mobile-menu-button" (click)="toggleMenu()">
      <svg class="w-6 h-6 text-gray-500 hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>
<!-- Mobile menu -->
<div class="md:hidden mobile-menu" [class.block]="isMenuOpen" [class.hidden]="!isMenuOpen">
  <ul class="">
    <li><a href="#" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Home</a></li>
    <li><a href="#our-mentors" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Mentors</a></li>
    <li><a href="#" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Pricing</a></li>
    <li><a href="#" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Resources</a></li>
    <li><a routerLink="/apprentices" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Apprentices</a></li>
    <li><a routerLink="/sign-up" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Get Started</a></li>
    <li><a routerLink="/sign-in" class="block text-sm px-2 py-4 text-[#121517] hover:bg-[#f1f2f4] font-semibold">Log in</a></li>
  </ul>
</div>
